body{
    background-image: url("https://developers.giphy.com/branch/master/static/api-c99e353f761d318322c853c03ebcf21b.gif");
    background-size: cover;
}

section{
    align-content: center;
}

img {
    column-span: all;
    margin: 3px;
    border: .5px solid #5a5a5a;
}

.wrapper {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.controls {
    background-color: #a6a6a6;
    border: 5px solid black;
    opacity: .9;
    margin: .5%;
    font-weight: bold;
}

.search-bar{
    /* margin-top: 7px; */
    /* align-content: space-between; */
}

.userSearch{
    background-color: #01ceff;
    opacity: .8;
    border: 1.5px solid white;
}

.submit{
    border: solid #5a5a5a;
    background-color: white;
    transition-duration: .4s;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.submit:hover{
    background: #01ceff;
    /* color: white; */
}

.submit:active {
    background-color: #01ceff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.trending-btn{
    border: solid #5a5a5a;
    background-color: white;
    transition-duration: .4s;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
}

.trending-btn:hover{
    background: #9b32fe;
    color: white;
}

.trending-btn:active {
    background-color: #9b32fe;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

h1 {
    font-weight: bold;
    text-align: center;
}